/* Project: App landing page
 * Design: Arifur Rahman Tushar (https://dribbble.com/ArifurRahman)
 * HTML Markup: Сергей Белых (Sergey White)](https://github.com/whitesergey)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --main-color-dark: #242f51;
  --main-color-gray: #616368;
  --main-color-purple: #242f51;
  --main-color-red: #f55767;
  --main-color-blue: #2563ff;
  --main-color-green: #40975f;
}

/* Вспомогательные */
.uSelect {  
  outline: 5px solid;
  outline-offset: -5px;
}

.c_1 {
  outline-color:  rgba(69, 69, 69, 0.8)
}

.c_2 {
  outline-color:  rgba(75, 148, 216, 0.7)
}

.c_3 {
  outline-color:  rgba(255, 79, 20, 0.7)
}

.c_4 {
  outline-color:  rgba(99, 255, 20, 0.7)
}


/* Глобальные */
.main-page {
  height: 100%;
}

.main-body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size:16pt;
  color: var(--main-color-dark);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

/* Контейнер */

.main-container {
  width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

/* Header */
.main-header {
  background-color: #f9fbfc;
}

.main-header__nav {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
}

/* Логотип */
.main-logo {
  font-size: 60px;
  color: var(--main-color-dark);
  font-weight: 600;
  line-height: 60px;
}

.main-logo span {
  color: #fcae61;
}

/* Верхнее меню */
.main-header__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.header-menu__item {

}

.header-menu__link {
  color: var(--main-color-purple);
}

/* Кнопка */
.main-button {
border-radius: 28.5px;
background-color: #2500f9;
width: 170px;
height 57px;
color: #ffffff;
display: block;
align-items: center;
justify-content: center;
}

/* HERO */
